{{#if compras}}
  <div class="row justify-content-center">
      
¡Hola {{username}}! estas son todas tus compras:

<div class="list-group">
  <div class="list-group-item list-group-item-action bg-info" aria-current="true"></div>

    {{#each compras}}
    
    {{#ifCond username ../username}}
    <div class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{title}}</h5>
      <small>Comprado a: {{owner}}</small>
      <form action="/compras/{{_id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">
           <i class="fas fa-trash text-light"></i>
        </button>
      </form>
    </div>
    <p class="mb-1">{{price}}€</p>
  </div>

    
    {{/ifCond}}
    {{/each}}
    <div class="list-group-item list-group-item-action bg-info" aria-current="true">

  </div>
</div>
  </div>

{{/if}}